
[Install]
WantedBy=multi-user.target


[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/studyWithMe
ExecStart=/usr/local/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/studyWithMe/studybud/studybud.sock studybud.wsgi:application

[Install]
WantedBy=multi-user.target