[Unit]
Description=gunicorn daemon for your Django project
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/studyWithMe
ExecStart=/home/ubuntu/env/bin/gunicorn --workers 3 --bind unix:/tmp/gunicorn.sock studybud.wsgi:application

[Install]
WantedBy=multi-user.target